.food_text {
    position: absolute;
    height: 150px;
    width: 150px;
    left: -30px;
    bottom: 190px;

    .food_text-cls-1 {
        font-size: 0px; 
        animation: letter-cls-1-spawn 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    }
    .food_text-cls-3 {
        font-size: 0px; 
        animation: letter-cls-2-spawn 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
        animation-delay: 1s;
    }
    .food_text-cls-4 {
        font-size: 0px; 
        animation: letter-cls-3-spawn 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
        animation-delay: 2s;
    }
}

@keyframes letter-cls-1-spawn {
    0%, 100% {
        font-size: 0px; 
    }
  
    50% {
        font-size: 21px;
    }
}

@keyframes letter-cls-2-spawn {
    0%, 100% {
        font-size: 0px; 
    }
  
    50% {
        font-size: 36px;
    }
}

@keyframes letter-cls-3-spawn {
    0%, 100% {
        font-size: 0px; 
    }
  
    50% {
        font-size: 48px;
    }
}