.sign_name {
    position: absolute;
    z-index: -1;
    left: 50px;
    bottom: 50%;
    transform: translate3d(50px,-50px,0) rotate(-5deg);
    padding: 25px;

    svg {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        transform: translate3d(0,-60%,0);
    }

    .name {
        font-size: 2rem;
        position: relative;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: "GochiHand-Regular";
    }
}