.bubble-frame {
    position: relative;
    width: 100%;
    flex: 1;

    .bubble-ctner {
        position: absolute;

        height: 50%;
        width: 50%;
        
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
        
        .bubble {
            position: absolute;
            bottom: 0;

            height: 300px;
            width: 300px;
            transform-origin: bottom;
            
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;


            .body {
                height: 300px;
                width: 300px;
                position: absolute;
                bottom: 0;

                .cls-1 {
                    fill: black;
                }
            }

            .eyes {
                height: 150px;
                width: 150px;
                
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;

                position: absolute;
                bottom: 100px;
            }
        }
    }
}