// ----
// -- ROBOTO
// ----
@font-face {
    font-family: 'Roboto-Thin';
    src: url("/ressources/fonts/roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: 'Roboto-Thin-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Thin-Italic.ttf");
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("/ressources/fonts/roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Light-Italic.ttf");
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url("/ressources/fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto-Regular-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Regular-Italic.ttf");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("/ressources/fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: 'Roboto-Medium-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Medium-Italic.ttf");
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url("/ressources/fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'Roboto-Bold-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Bold-Italic.ttf");
}
@font-face {
    font-family: 'Roboto-Black';
    src: url("/ressources/fonts/roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: 'Roboto-Black-Italic';
    src: url("/ressources/fonts/roboto/Roboto-Black-Italic.ttf");
}
@font-face {
    font-family: 'GochiHand-Regular';
    src: url("/ressources/fonts/gochihand/GochiHand-Regular.ttf");
}