.bubble-frame
    .bubble-ctner
        .bubble
            object.body(type="image/svg+xml",data="/ressources/images/bubble/body/body.svg")
            object.eyes(type="image/svg+xml",data="/ressources/images/bubble/eyes/eyes-happy.svg")