.bubble-frame
    .floor
    .bubble-ctner
        .bubble
            object.body(type="image/svg+xml",data="/ressources/images/bubble/body/body.svg")
            .eyes
            .mouse
            .clothes