.weather {
    .weather-day{
        .part-1, 
        .part-2,
        .part-3 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .part-1 {
            font-size: 2rem;
            
            .wind {
                display: flex;
                align-items: center;

                .wind_icon {
                    width: 40px;
                    height: 40px;
                }

                .wind_direction {
                    font-size: 1rem;
                    align-self: flex-start;
                }
            }
            .sun {
                display: flex;
                align-items: center;

                .sun_icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .part-2 {
            font-size: 3rem;

            object {
                width: 100px;
                height: 100px;
            }
        }
    }

    .weather-forecast {
        display: flex;
        flex-direction: column;

        .day_ctner {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icon {
                height: 40px;
                width: 40px;
            }

            .day {
                text-align: right;
            }
            .temp_min,
            .temp_max {
                text-align: center;
            }

            .day,
            .icon,
            .temp_min,
            .temp_max {
                width: 50px;
            }
        }
    }
}