.mouse.eat {
    bottom: 140px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    height: 10px;
    width: 10px;
    
    animation: mouse-eat 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

@keyframes mouse-eat {
    0%, 100% {
        transform: scale(1);
    }
  
    50% {
        transform: scale(1.3);
    }
}